#logins{
  background:url(../img/2.jpg) no-repeat fixed center center #333;
    background-size: cover;
	margin-left:320px;
	margin-top:200px;
	margin-right:200px;
	margin-bottom:200px;
}

label{
	font-family:Times New Roman;
	color: black;
}
a{
	color:black;
}
h1{
	font-family:Arial;
	color:white;
}
h2{
	font-family:Times New Roman;
	color:white;
}

#docente{
	background:url(../img/fondo_principal.png) no-repeat fixed center center #333;
	background-size:cover;
	margin-left:200px;
	margin-top:200px;
	margin-right:200px;
	margin-bottom:200px;
}

#alumn{
	background:url(../img/9jpg.jpg) no-repeat fixed center center #333;
	background-size:cover;
	margin-left:200px;
	margin-top:100px;
	margin-right:200px;
	margin-bottom:200px;
}

#pregunta{
	background-color:rgb(188, 206, 23);
	margin-left:100px;
	margin-top:80px;
	margin-right:100px;
	margin-bottom:100px;
	
}
body{
	background-color:rgb(189, 183, 107);
	margin-left:100px;
	margin-top:80px;
	margin-right:100px;
	margin-bottom:100px;
}