<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Crear Preguntas</title>
<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}" rel ="stylesheet" type="text/css">
 <link th:href="@{/css/estilo.css}" rel="stylesheet" type="text/css">
</head>
<body>
<center><h1>Crear preguntas</h1></center>
<br>
<br>
<div class="container">
		<div class="row">
			<div
				class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">

				<div class="card-body">
					<form class="form" role="form" autocomplete="off" th:object="${pregunta}"
							th:action=" @{/guardarPregunta}" method ="post">
					<br>	
					<input type="hidden" th:field="*{codPregunta}">
						<div class="form-group">
							<label>Enunciado : </label> <input type="text" th:field="*{enunciado}" class="form-control" placeholder="Ingrese el enunciado">
					</div>
					<br>
						<div class="form-group">
							<label>Nivel : </label> <input type="number"  th:field="*{nivel}" class="form-control" 
							placeholder="Ingrese el Nivel">
							<div class="alert alert-danger" th:if="${#fields.hasErrors('nivel')}"th:errors="*{nivel}"></div>
						</div>
						
						<br>
						<div class="form-group">
							<label>Opcion 1 : </label> <input type="text"  th:field="*{opcion1}" class="form-control" 
							placeholder="Ingrese la opcion 1">
						</div>
						<br>
						<div class="form-group">
							<label>Opcion 2 : </label> <input type="text"  th:field="*{opcion2}" class="form-control" 
							placeholder="Ingrese la opcion 2">
						</div>
						<br>
						<div class="form-group">
							<label>Opcion 3 : </label> <input type="text"  th:field="*{opcion3}" class="form-control" 
							placeholder="Ingrese la opcion 3">
						</div>
						<br>
						<div class="form-group">
							<label>Opcion 4 : </label> <input type="text"  th:field="*{opcion4}" class="form-control" 
							placeholder="Ingrese la opcion 4">
						</div>
						<br>
						<div class="form-group">
							<label>Opcion Correcta : </label> <input type="text"  th:field="*{opcionCorrecta}" 
							class="form-control" placeholder="Ingrese la opcion Correcta">
						</div>
						<br>
						<div class="form-group">
							<label>Puntaje : </label> <input type="number"  th:field="*{puntaje}" class="form-control" 
							placeholder="Ingrese el puntaje">
						</div>
						<br>
						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Guardar</button>
						</div>
					</form>
				</div>

			</div>
		</div>

	</div>
	<a class="btn btn-light" th:href="@{/registroAdmin}">Volver</a>

</body>
</html>